html {
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

p {
  color: white;
}

a {
  color: #006eff;
}

body {
  position: fixed;
  margin: 0;
  height: 100vh;
  width: 100%;
  background-color: #2e2e33;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  overflow-y: hidden;
}

h1 {
  font-size: 5vh;
  padding: 0;
  margin: 0;
}

#modalativo > p {
  height: 20vh;
  overflow-y: scroll;
}

#modalativo > h1 {
  font-size: 4.5vh;
}

#modalativo > h2 {
  font-size: 3vh;
  color: white;
}

#master {
  display: flex;
  width: 100%;
  height: 88%;
  position: fixed;
  animation-fill-mode: forwards;
  border-bottom-left-radius: 8vh;
  border-bottom-right-radius: 8vh;
  background-color: #000000;
  overflow: hidden;
}

#landing,
#landing_bkg {
  display: flex;
  flex-direction: column;
  color: white;
  position: absolute;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 1;
  width: 100%;
  /* height: 100000000px; */
}

#landing_bkg {
  z-index: 15;
  /* height: 500%; */
  left: 0%;
  width: 100%;
  height: 100vh;
  top: 0;
  object-fit: cover;
  /* transform: scale(1); */
  /* animation: go-back 40s infinite alternate; */
  /* animation-name: wallpaper; */

}

#landing {
 
  margin-right: 2vh;
  z-index: 16;
}

#titulo_landing {
  margin-top: 15vh;
}

#descricao_landing {
  height: 40vh;
  overflow-y: scroll;
  width: 60vh;
  font-size: 2.5vh;
}

.material-icons.icons {
  font-size: 5vh;
  color: #95a5a6;
}

.material-icons.icons_selected {
  font-size: 5vh;
  color: #006eff;
}

.material-icons.texto {
  vertical-align: middle;
  font-size: 3vh;
  color: #ffffff;
}

#title {
  font-size: 3vh;
  margin-top: 0;
}

#content {
  display: flex;
  width: 100vh;
  object-fit: contain;
  height: 100%;
  margin: auto;
  padding: 0;
  overflow-y: hidden;
}

#navbar {
  user-select: none;
  display: flex;
  position: fixed;
  bottom: 0;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 12%;
}

#container {
  margin-right: auto;
    margin-left: auto;
  max-width: 47vh;
    min-width: 46.9vh;
    max-height: 77vh;
    min-height: 75vh;
  padding-top: 5vh;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  flex-direction: row;
  width: 50vh;
  display: flex;
  transition: transform 2.5s;
  filter: brightness(150%);
}

#container:hover{
  transform: scale(2);
}


#container img,
#img_1 {
  width: 100%;
  height: 88%;
  object-fit: contain;
  overflow: hidden;
}

#img_1 {
  display: none;
  justify-self: center;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  width: 100%;
  height: 100%;
}

#img1_container {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  width: 46vh;
  height: auto;
  display: flex;
  animation-duration: 1s;
  flex-direction: column;
}

#header_desk{
  display: flex;
  position: fixed;
  text-align: center;
  align-content: center;
  justify-content: center;
  top: 0;
  padding-top: 1vh;
  width: 45vh;
  height: 6vh;
  background-color: #2e2e33;
}

#header_desk > p{
  font-size: 3vh;
  padding: 0;
  margin-top: 0;
}

#quiz,
#textos {
  display: none;
  color: white;
  opacity: 0;
  flex-direction: column;
  padding-top: 5vh;
  padding-left: 5vh;
  padding-right: 5vh;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  width: 88vw;
  overflow-x: hidden;
  overflow-y: auto;
  justify-items: space-between;
  background-color: black;
}
#textos > h1{
font-size: 3.5vh;
margin-top: 1.5vh;
}
#textos > h2{
  font-size: 4.5vh;
  }

#textos > p, #textos > a {
  font-size: 2.5vh;
}

.respostas {
  display: none;
  opacity: 0;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  font-size: 3.5vh;
  flex-direction: column;
}

.combo {
  background-color: #2e2e33;
  height: 3vh;
  width: 5vh;
  font-size: 2vh;
  border: 0;
  color: white;
}

.opcao {
  margin: 2vh 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 12vh;
  align-items: center;
}

.sem_padding_margin {
  padding-bottom: 0;
  margin-bottom: 0;
}

.opcao > input {
  width: 5vh;
  height: 5vh;
}

.opcao > p,
li {
  color: white;
  font-size: 2.5vh;
}

li{
  font-size: 2.5vh;
}

.overlay1 {
  display: block;
  background-color: #01ea77;
  /* background-color: fuchsia; */
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 1;
  width: 7vh;
  height: 3vh;
  position: absolute;
  z-index: 2;
}
.overlay {
  display: block;
  background-color: black;
 /* background-color: fuchsia;*/
  
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 1;
  width: 7vh;
  height: 3vh;
  position: absolute;
  z-index: 2;
}
h1 {
  color: white;
}
#opcao_1a,
#opcao_1 {
  top: 40.7%;
  width: 11vh;
  height: 2.4%;
  left: 7%;
}
#opcao_1_1a,
#opcao_1_1 {
  top: -17.7%;
  width: 6vh;
  height: 33.8%;
  left: 45%;
}

#opcao_2a,
#opcao_3a,
#opcao_4a,
#opcao_7a,
#opcao_9a,
#opcao_11a,
#opcao_14a,
#opcao_15a,
#opcao_18a,
#opcao_16 {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  width: auto;
  z-index: 2;
  height: auto;
  display: block;
  opacity: 1;
}
#opcao_16a {
  background-color: black;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  width: auto;
  z-index: 2;
  height: auto;
  display: block;
  opacity: 1;
}

#opcao_2,
#opcao_3,
#opcao_4,
#opcao_7,
#opcao_9,
#opcao_11,
#opcao_14,
#opcao_15,
#opcao_18,
#opcao_16 {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  width: auto;
  z-index: 2;
  height: auto;
  display: block;
  opacity: 1;
}

#opcao_2_1a,
#opcao_2_1 {
  top: 45.7%;
  height: 1.8vh;
  left: 24%;
  width: 4.5vh;
}
#opcao_2_2a,
#opcao_2_2 {
  top: 55.5%;
  left: 14.7%;
  height: 4vh;
  width: 8.2vh;
}
#opcao_2_3a,
#opcao_2_3 {
  top: 41.5%;
  left: 14.7%;
  height: 4vh;
  width: 8vh;
}
#opcao_2_4a,
#opcao_2_4 {
  border-bottom-right-radius: 51%;
  top: 55.5%;
  left: 1.7%;
  height: 2vh;
  width: 2.8vh;
}
#opcao_3_1a,
#opcao_3_1 {
  top: 53.7%;
  height: 5.3vh;
  left: 38%;
  width: 5.9vh;
  border-top-right-radius: 80%;
}
#opcao_3_2a,
#opcao_3_2 {
  top: 67.1%;
  height: 2vh;
  border-bottom-left-radius: 53%;
  left: 49.2%;
  width: 6vh;
}
#opcao_4_1a,
#opcao_4_1 {
  border-top-left-radius: 35%;
  top: 45%;
  height: 3.6vh;
  left: 33.3%;
  width: 6.8vh;
  transform: rotate(-29deg);
  border-bottom-left-radius: 78%;

}
#opcao_4_2a,
#opcao_4_2 {
  top: 79.2%;
  left: 49.3%;
  height: 1.5vh;
  width: 5vh;
}
#opcao_5a,
#opcao_5 {
  top: 55.5%;
  height: 4.2vh;
  left: 56%;
  width: 5.6vh;
}
#opcao_5_1a,
#opcao_5_1 {
  top: 77.5%;
  height: 1.2vh;
  left: 8%;
  width: 5.6vh;
}
#opcao_6a,
#opcao_6 {
  top: 64.1%;
  height: 1.5vh;
  left: 43.6%;
  width: 13vh;
  border-bottom-right-radius: 6%;
}
#opcao_6_1 {
  top: -19%;
  border-bottom-right-radius: 10%;
  height: 1.5vh;
  left: 37%;
  width: 8vh;
}
#opcao_7_1a,
#opcao_7_1 {
  top: 42.1%;
  height: 2.2vh;
  left: 60%;
  width: 13.5vh;
}
#opcao_7_2a,
#opcao_7_2 {
  border-top-left-radius: 42%;
  border-top-right-radius: 32%;
  top: 82.5%;
  left: 51.9%;
  height: 2.2vh;
  width: 5.4vh;
}
#opcao_8a,
#opcao_8 {
  top: 51.8%;
  border-top-left-radius: 20%;
  height: 2.9vh;
  left: 68%;
  width: 10vh;
}
#opcao_9_1a,
#opcao_9_1 {
  top: 31.4%;
  height: 7vh;
  left: 69%;
  width: 10vh;
}
#opcao_9_2a,
#opcao_9_2 {
  top: 34.5%;
  height: 6vh;
  left: 60.2%;
  /* border-bottom-left-radius: 20%; */
  /* border-top-left-radius: 53%; */
  width: 5vh;
}
#opcao_9_3a,
#opcao_9_3 {
  top: 29.4%;
  height: 2vh;
  left: 59%;
  width: 9vh;
}
#opcao_9_4a,
#opcao_9_4 {
  top: 38.8%;
  height: 3vh;
  left: 62.8%;
  width: 7vh;
  border-top-left-radius: 55%;
}
#opcao_9_5a,
#opcao_9_5 {
  top: 36%;
  height: 3vh;
  left: 30%;
  width: 8.8vh;
}
#opcao_10a,
#opcao_10 {
  top: 26.3%;
  height: 2.4vh;
  left: 61%;
  width: 13vh;
}
#opcao_11_1a,
#opcao_11_1 {
  top: 25.8%;
  left: 20.5%;
  width: 13.9vh;
  height: 4.7vh;
  border-top-right-radius: 36%;
  border-bottom-right-radius: 40%;
}


#opcao_11_2a,
#opcao_11_2 {
  top: 29.9%;
  height: 5vh;
  left: 28%;
  width: 11vh;
  border-top-right-radius: 80%;
  border-bottom-right-radius: 100%;
}
#opcao_12a,
#opcao_12 {
  top: 24.2%;
  height: 1.6vh;
  left: 63.6%;
  width: 6.8vh;
}
#opcao_12_1a,
#opcao_12_1 {
  top: -3.8%;
  height: 1.4vh;
  left: 15%;
  width: 3.8vh;
}
#opcao_13a,
#opcao_13 {
  top: 22%;
  height: 1.4vh;
  left: 65.6%;
  width: 6.7vh;
}
#opcao_14_1a,
#opcao_14_1 {
  top: 16.6%;
  height: 4.2vh;
  left: 70.2%;
  width: 9vh;
}
#opcao_14_2a,
#opcao_14_2 {
  top: 15%;
  height: 2.5vh;
  left: 64%;
  width: 8.5vh;
  border-bottom-left-radius: 62%;
}
#opcao_14_3a,
#opcao_14_3 {
  top: 14%;
  height: 3vh;
  left: 32.6%;
  width: 6.5vh;
  border-bottom-right-radius: 13%;
}
#opcao_15_1a,
#opcao_15_1 {
  top: 18%;
  left: 31.2%;
  width: 5.5vh;
  height: 3.5vh;
}
#opcao_15_2a,
#opcao_15_2 {
  top: 23.2%;
  left: 27%;
  width: 5.7vh;
  height: 2vh;
}
#opcao_15_3a,
#opcao_15_3 {
  top: 22%;
  left: 6.3%;
  width: 6.5vh;
  height: 3.2vh;
 
}
#opcao_15_4a,
#opcao_15_4 {
  top: 15%;
  left: 3%;
  width: 8vh;
  height: 3vh;
  border-bottom-right-radius: 40%;
  border-top-right-radius: 40%;
}
#opcao_16_1a,
#opcao_16_1 {
  top: 40.5%;
  width: 7vh;
  height: 2.9vh;
  left: 33.5%;
  border-top-right-radius: 23%;
  border-bottom-right-radius: 45%;
}
#opcao_16_2a,
#opcao_16_2 {
  top: 58.2%;
  width: 8.5vh;
  height: 4vh;
  left: 75%;
}
#opcao_16_3a,
#opcao_16_3 {
  top: 70.9%;
  width: 3.3vh;
  height: 1.6vh;
  left: 64.5%;
  border-top-left-radius: 86%;
  border-top-right-radius: 155%;
  border-bottom-right-radius: 25%;
}
#opcao_17a,
#opcao_17 {
  top: 76.7%;
  height: 1.1vh;
  left: 72.6%;
  width: 9vh;
}
#opcao_17_1{
  top: -54.4%;
  height: 1vh;
  left: 2.8%;
  width: 3vh;
  border-top-right-radius: 44%;
}

#opcao_17_2{
  top: -54.4%;
    height: 1vh;
    left: 54.8%;
    width: 3vh;
    border-top-left-radius: 104%;
}
#opcao_18_1a,
#opcao_18_1 {
  top: 76%;
  width: 3.2vh;
  height: 1.3vh;
  left: 66%;

}
#opcao_18_2a,
#opcao_18_2 {
  border-bottom-left-radius: 32%;
  top: 76.2%;
  width: 3vh;
  height: 1.1vh;
  left: 60.14%;
}
#opcao_18_3a,
#opcao_18_3 {
  top: 78.1%;
  width: 4.8vh;
  height: 4vh;
  left: 82.6%;
}

#acerto_alert {
  opacity: 0;
  align-self: flex-end;
  position: absolute;
  top: 80%;

  height: 4vh;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

#fim_popup,
#inicio_popup {
  display: none;
  opacity: 0;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: #2e2e33;
  top: 45%;
  left: 50%;
  width: 40vh;
  height: 40vh;
  transform: translate(-50%, -50%);
  border-radius: 4vh;
  z-index: 14;
}

#intro {
  overflow-y: scroll;
}

#inicio_popup {
  height: 63%;
}

#fim_popup,
#inicio_popup > p {
  font-size: 2.5vh;
}

#inicio_popup {
  display: flex;
  padding: 2vh 2vh;
  color: white;
}

#relogio {
  position: fixed;
  opacity: 0;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12vh;
  height: 12vh;
  border: 0.4vh solid #01ea77;
  border-radius: 100%;
  top: 70%;
  left: 8.5%;
  z-index: 10;
}

#relogio,
#relogio_upper > p {
  color: white;
  font-size: 4vh;
}

#relogio_upper {
  display: flex;
  opacity: 0;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 8vh;
  background-color: #2e2e33;
  z-index: 12;
}


#botao_iniciar,
#botao_continuar,
#botao_desistir,
#acerto_alert,
#botao_textos {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0.5vh solid;
  border-radius: 1vh;
  background-color: #000000;
  width: max-content;
  padding: 1vh 1vh;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

#botao_iniciar,
#botao_continuar {
  border-color: #01ea77;
  justify-content: center;
  width: 19vh;
}

#botao_desistir {
  margin-top: 1vh;
  margin-bottom: 2vh;
  width: 35.48vh;
  justify-content: center;
}

#botao_iniciar > p,
#botao_desistir > p,
#botao_continuar > p {
  font-size: 2.5vh;
}

#botao_textos,
#botao_continuar,
#botao_desistir,
#botao_iniciar {
  cursor: pointer;
  height: 3vh;
}

#botao_continuar {
  display: none;
  z-index: 200;
  top: 84%;
  position: absolute;

}

#branco {
  background-color: white;
  display: none;
  border-color: #01ea77;
  position: absolute;
  height: 80%;
  width: 85%;
  margin-top: 1vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
#botao_textos {
  margin-top: 1vh;
  background-color: #2e2e33;
  border-color: #01ea77;
}

#botao_textos > p {
  font-size: 2.5vh;
  color: white;
}

#overlay {
  display: none;
  position: absolute;
  z-index: 13;
  opacity: 0;
  height: 100%;
  width: 100%;
  animation-fill-mode: both;
  animation-duration: 0.2s;
  background-color: #fe0000;
}

.material-icons.acerto,
#acerto_alert > p {
  color: white;
  padding: 0 0.5vh;
  font-size: 2.5vh;
}

.material-icons.fim_icon {
  color: white;
  font-size: 10vh;
}

@keyframes aparecer {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes mudar {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes bkg_escuro {
  from {
    background-color: #2e2e33;
  }

  to {
    background-color: #000000;
  }
}

@keyframes bkg_voltar {
  from {
    background-color: #000000;
  }

  to {
    background-color: #2e2e33;
  }
}

@keyframes acerto {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes acerto_sumir {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes wallpaper {
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
}

@media screen and (orientation: landscape) {
  #quiz {
    display: flex;
    max-width: 40vh;
    min-width: 40vh;
    opacity: 1;
  }

  #landing {
    top: 1%;
    
  }

  #landing_bkg {
    image-resolution: 1dpi;
    filter: brightness(7%) blur(0.5vh);
    background: black;
  }


  #master {
    height: 92%;
  }

  #navbar {
    height: 8%;
  }

  .material-icons.icons {
    font-size: 3.5vh;
  }
}

@media screen and (orientation: portrait) {
  #content {
    overflow-x: hidden;
  }

  #landing,
  #landing_bkg {
    
    background-color: black;
  }

  #titulo_landing {
    margin-top: 8vh;
  }

  #descricao_landing {
    width: 87vw;
    padding-right: 1vh;
    height: 55vh;
    overflow-y: scroll;
    font-size: 5.5vw;
  }


  #quiz, #textos{
    padding-top: 0;
  }

  #quiz{
    height: 60vh;
    margin-top: 14vh;
  }

  #textos{
    height: 70vh;
    width: 76vw;
    margin-top: 7vh;
  }

}

/* @media screen and (min-width: 950px) and (orientation: portrait) {
  #titulo_landing {
    font-size: 13vw;
  }

  #descricao_landing {
    width: 130vw;
    font-size: 9vw;
  }

  #botao_iniciar {
    width: 50vw;
    height: 6vh;
  }

  #botao_iniciar > p {
    font-size: 5vh;
  }

  #img1_container {
    display: flex;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100vh;
    height: 100vh;
    z-index: 1000;
  }

  #img_1 {
    width: 140%;
    position: relative;
  }
} */

#modal_1,
#modal_2,
#modal_4,
#modal_5,
#modal_6,
#modal_7,
#modal_8,
#modal_9,
#modal_10,
#modal_11,
#modal_12,
#modal_13,
#modal_14,
#modal_15,
#modal_16,
#modal_17,
#modal_18 {
  border-radius: 100%;
  z-index: 0;
}

#modal_1 {
  top: 40.5%;
  width: 4vh;
  height: 4.5%;
  left: 6%;
}
#modal_2 {
  top: 48.2%;
  width: 4vh;
  height: 4.5%;
  left: 23%;
}

#modal_3 {
  z-index: 0;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
#modal_3a {
  top: 48%;
  width: 3vh;
  height: 3.5%;
  left: 42%;
  border-radius: 100%;
  background-color: pink;
}
#modal_3b {
  background-color: pink;
  top: 72%;
  width: 3vh;
  height: 3.5%;
  left: 48%;
  border-radius: 100%;
}
#modal_4 {
  z-index: 0;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
#modal_4a {
  top: 48.2%;
  width: 3vh;
  height: 3.5%;
  left: 35%;
  border-radius: 100%;
  z-index: 0;
}
#modal_4b {
  top: 82%;
  width: 3vh;
  height: 3.5%;
  left: 46%;
  border-radius: 100%;
  z-index: 0;
}
#modal_5 {
  top: 61%;
  width: 3vh;
  height: 3.5%;
  left: 61%;
}
#modal_6 {
  top: 55.2%;
  width: 3vh;
  height: 3.5%;
  left: 50%;
}
#modal_7 {
  top: 53.2%;
  width: 3vh;
  height: 3.5%;
  left: 56%;
}
#modal_8 {
  top: 54.2%;
  width: 3vh;
  height: 3.5%;
  left: 70%;
}
#modal_9 {
  top: 38.2%;
  width: 3vh;
  height: 3.5%;
  left: 75%;
}
#modal_10 {
  top: 25.2%;
  width: 3vh;
  height: 3.5%;
  left: 51%;
}
#modal_11 {
  top: 26.2%;
  width: 3vh;
  height: 3.5%;
  left: 21%;
}
#modal_12 {
  top: 21.2%;
  width: 3vh;
  height: 3.5%;
  left: 51%;
}
#modal_13 {
  top: 16.2%;
  width: 3vh;
  height: 3.5%;
  left: 55%;
}
#modal_14 {
  top: 13.2%;
  width: 3vh;
  height: 3.5%;
  left: 87%;
}
#modal_15 {
  top: 17.2%;
  width: 3vh;
  height: 3.5%;
  left: 47%;
}
#modal_16 {
  z-index: 0;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
#modal_16a {
  top: 46.2%;
  width: 3vh;
  height: 3.5%;
  left: 47%;
  border-radius: 100%;
}
#modal_16b {
  top: 67%;
  width: 3vh;
  height: 3.5%;
  left: 70%;
  border-radius: 100%;
}
#modal_17 {
  top: 72.2%;
  width: 3vh;
  height: 3.5%;
  left: 88%;
}
#modal_18 {
  top: 77.2%;
  width: 3vh;
  height: 3.5%;
  left: 68%;
}
.modal {
  display: block;
  /* background-color: black; */
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
  width: 7vh;
  height: 3vh;
  position: absolute;
}

#modalativo > p {
  color: white;
  padding: 0 0.5vh;
  font-size: 2.5vh;
}

#modalativo {
  flex-direction: column;
  display: flex;
  align-items: center;
  border: 0.5vh solid;
  border-radius: 1vh;
  background-color: #000000;
  width: 38vh;
  padding: 1vh 1vh;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  top: 50%;
  height: auto;
  opacity: 0;
  align-self: flex-end;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 16;
}

#femodal > p {
  font-size: 3vh;
}
#femodal {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0.5vh solid;
  border-radius: 1vh;
  background-color: #000000;
  border-color: rgb(255 255 255);
  width: max-content;
  padding: 1vh 1vh;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  margin-bottom: 35px;

  border-color: #01ea77;
  justify-content: center;
  width: 19vh;

  cursor: pointer;
  height: 3vh;
}
@keyframes fmodal {
  from {
    z-index: 0;
  }

  to {
    z-index: 2;
  }
}
@keyframes sumirzindex {
  from {
    z-index: 2;
  }

  to {
    z-index: 0;
  }
}
/* width */

::-webkit-scrollbar {
  height: 2vh;
  width: 2vh;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 100vh;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 100vh;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#quiz {
  max-width: 40vh;
  min-width: 40vh;
  margin-left: auto;
  margin-right: auto;
}
#preto {
  background-color: black;
  display: flex;
  border-color: #01ea77;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  opacity: 1  ;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 17;
}
#encaixe {
  padding-left:22px;
  display: flex;
  flex-direction: column;
  color: white;
  position: absolute;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 1;
  width: 80%;
  /* height: 100000000px; */
}

@media screen and (orientation: landscape){
#encaixe{
  padding-left: 10vh;
    
}
}
@keyframes acerto_sumircorreto {
  from {
    z-index: 150;
    opacity: 1;
  }
  to {
    z-index: 0;
    opacity: 0;
  }
}
h2{
  text-align: center;
  line-height: 1.5;
}
#logo{
  width: 40vh;
}
#modalativo > p {
  color: white;
  padding: 0 0.5vh;
  font-size: 2.5vh;
}

#propaganda {
  flex-direction: column;
  display: flex;
  align-items: center;
  border: 0.5vh solid;
  border-radius: 1vh;
  background-color: #000000;
  width: 38vh;
  padding: 1vh 1vh;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  top: 50%;
  height: auto;
  opacity: 0;
  align-self: flex-end;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 16;
}

@media screen and (orientation: landscape) {
  #img_1 {
    width: 111%;
    height: 100%;
  }
}

#textinho2,#textinho {
  opacity: 1;
  align-self: flex-end;
  position: absolute;
  top: 95%;
  height: 4vh;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
   display: flex;
    flex-direction: row;
    align-items: center;
    border: 0.5vh solid;
    border-radius: 1vh;
    background-color: #000000;
    width: max-content;
    padding: 1vh 1vh;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  #textinho2,#textinho > p {
    color: white;
    padding: 0 0.5vh;
    font-size: 2.5vh;
  }
  @media screen and (orientation: portrait) {
    #textinho2,#textinho {
      width: 63%;
    }
  }
  #textinho2{
  height: 7vh;
  } 


#menu{
z-index: 0;
text-align: center;
}

  @keyframes sumirmenu  {
    from {
      z-index: 16;
   
    }
    to {
      z-index: 0;
      
    }
  }
  @keyframes aparecermenu {
    from {
     
      z-index: 0;
    }
    to {
      z-index: 16;
      
    }
  }




#botao_pular  > p {
  font-size: 2.5vh;
}

#botao_pular {
  cursor: pointer;
  height: 3vh;
}
#botao_pular {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0.5vh solid;
  border-radius: 1vh;
  background-color: #000000;
  width: max-content;
  padding: 1vh 1vh;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

#botao_pular {
  position: absolute;
  top: 101%;
  border-color: #01ea77;
  justify-content: center;
  width: 19vh;
}
h4{
  margin: 10px;
}

#quizf{
  padding-top: 87px;
  max-width: 41vh;
  min-width: 41vh;
  height: 63vh;
  max-height: 63vh;
  min-height: 63vh;
  display: none;
  color: white;
  flex-direction: column;
  padding-right: 5vh;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  width: 88vw;
  overflow-x: hidden;
  overflow-y: auto;
  justify-items: space-between;
  background-color: black;
}
@media screen and (orientation: portrait) {
  #acerto_alert {
    width: 75%;
    
  }
}
#header_deskf{
  top:0;
    display: flex;
    position: fixed;
    text-align: center;
    align-content: center;
    justify-content: center;

    width: 46vh;
    height: 10.8vh;
    background-color: #2e2e33;
} 
#selecionar{
  padding-left: 4vh;
}

.combo1 {
  background-color: #2e2e33;
  height: 5vh;
  width: 7vh;
  font-size: 2vh;
  border: 0;
  color: white;
  border-color:#fe0000;
}
#header_deskf>h3{
  font-size: 2.5vh;
  margin: 1vh;
}
#menu>p{
  
  margin: 1vh;
}
